@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --baby-powder: 251 249 244; /* #fbf9f4 */
    --raisin-black: 32 34 46; /* #20222e */
    --hookers-green: 93 119 101;
    --tea-green: 202 227 200;
    --celadon: 100 180 105;
    --amaranth: 221 44 76;
    --sky: 177 199 213;

    --fg: var(--raisin-black);
    --bg: var(--baby-powder);

    --green: var(--celadon);
    --red: var(--amaranth);

    --accent-fg: var(--sky);
    --accent-bg: var(--tea-green);

    scrollbar-color: rgb(var(--fg)) #00000000;

    @apply bg-bg text-fg h-screen box-border p-0 m-0 select-none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      --fg: var(--baby-powder);
      --bg: var(--raisin-black);
      --accent-fg: var(--sky);
      --accent-bg: var(--hookers-green);
    }
  }

  html,
  body {
    @apply h-dvh w-full bg-bg;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  p {
    @apply font-cormorant;
  }

  a {
    @apply cursor-pointer underline;
  }

  button {
    @apply select-none;

    &:disabled {
      @apply cursor-default;
    }
  }

  img {
    @apply object-contain;
  }

  video::-webkit-media-controls {
    display: none;
  }
}

@layer components {
  .hub-container {
    @apply max-sm:flex max-sm:flex-col p-8 gap-8 w-full sm:h-full sm:grid max-xl:md:grid-cols-2 xl:grid-cols-4 sm:items-center;

    & > a {
      @apply border-fg border-2 text-raisin-black bg-baby-powder flex flex-col justify-center items-center rounded-md no-underline hover:underline;

      & > img,
      video {
        @apply p-2;
      }

      & > h2 {
        @apply pb-2;
      }
    }
  }

  .gallery-container {
    @apply relative cursor-pointer flex justify-center items-center w-full min-h-max max-sm:h-dvh;

    & > img,
    video {
      @apply opacity-10 max-h-dvh;
    }

    & > div {
      @apply flex flex-col p-4 overflow-auto absolute w-full h-full bg-bg/90 transition-opacity duration-700;

      & > p {
        @apply mt-2;
      }
    }
  }
}

@layer utilities {
  /* Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .invert-theme {
    @apply bg-fg text-bg;
  }

  .transform-3d {
    transform-style: preserve-3d;
  }
}
